*{
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
    padding: 5px;
}

.homePage {

    background-color:rgb(5, 5, 75);
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}

.homePage span {
    display: flex;
    padding: 10px;
    width: 400px;
    justify-content: space-between;
}

.homePage span nav {

    cursor: pointer;
}

.bioPage {

    height: 400px;
    display: flex;
    justify-content: space-around;

}

.bioPage span {

    /* background-color:rgb(5, 5, 75); */
    width: 32%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
    justify-content: center;
}


 .bioPage img {

    display: flex;
    align-self: center;
    border-radius: 50%;
    border: 2px white solid;
}


  .imageBar {

    background-color: ;
}

 .linkBar  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 150px;
    margin: 60px;
} 

.linkBar svg {

    width: 20px;
    cursor: pointer;
    fill: rgb(9, 9, 68);
}

